* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
*:focus {
  outline: none;
}
html {
  font-family: "Montserrat", sans-serif;
}
body {
  background: #eee;
  padding: 0 16px;
  background-image: background-color: #878c00;
  /* background-image: url("https://www.transparenttextures.com/patterns/binding-dark.png"); */

  background-image: url("https://www.transparenttextures.com/patterns/cubes.png");

}

header {
  /* background-color: #f2c180; */
  background-color: #00334e;
  /* background-color: #f0b76c; */
  margin: auto -16px;
  padding: 16px 32px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
  position: relative;
}

header h1 {
  color: #fff;
  font-family: "McLaren", cursive;
  font-weight: 200;
}

footer {
  position: absolute;
  text-align: center;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
}

footer p {
  color: #ccc;
}
.note {
  background: #fff;
  border-radius: 7px;
  box-shadow: 0 2px 5px #ccc;
  padding: 10px;
  width: 240px;
  margin: 16px;
  float: left;
}
.note h1 {
  font-size: 1.1em;
  margin-bottom: 6px;
}
.note p {
  font-size: 1.1em;
  margin-bottom: 10px;
  white-space: pre-wrap;
  word-wrap: break-word;
}

.note button {
  position: relative;
    float: right;
    margin-right: 10px;
    color: #edbb79;
    border: none;
    width: 36px;
    height: 36px;
    cursor: pointer;
    outline: none;
    background-color: #fff;
}
.modal-header{
  background-color: #00334e;
  color: #fff;
  font-family: "McLaren", cursive;
  font-weight: 200;
  font-size: 20px;
}
.modal-body h2{
  color: balck;
  font-family: "McLaren", cursive;
  font-weight: 2300;
  font-size: 20px;

}
.modal-footer{
  background-color: #00334e;
  color: #fff;
  font-family: "McLaren", cursive;
  font-weight: 200;
  font-size: 20px;
}
.modal-footer button{
  background-color: #00334e;
  color: #fff;
  font-family: "McLaren", cursive;
  font-weight: 200;
  font-size: 22px;
  border: none;
  box-shadow: none;
}
.login-button-1{
  display: flex;
  justify-content: flex-end;
  position: absolute;
  left: 1150px;
  top: 25px;
  background-color: #00334e;
  color: #fff;
  font-family: "McLaren", cursive;
  font-weight: 200;
  font-size: 20px;
  border: none;
  box-shadow: none;
}


form {
  position: relative;
  width: 480px;
  margin: 30px auto 20px auto;
  background: #fff;
  padding: 15px;
  border-radius: 7px;
  box-shadow: 0 1px 5px rgb(138, 137, 137);
}
form input,
form textarea {
  width: 100%;
  border: none;
  padding: 4px;
  outline: none;
  font-size: 1.2em;
  font-family: inherit;
  resize: none;
}
form button {
  position: absolute;
  right: 18px;
  bottom: -18px;
  background: #f0c286;
  color: #fff;
  border: none;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  outline: none;
}
